@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

header {
    background: #1f2937;
    color: white;
    display: flex;
    height: 48px;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.header-logo-text {
    color: #f9faf8;
    font-size: 24px;
}

.subtext {
    color: #e5e7eb;
    font-size: 18px;;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;;
}

footer {
    background: #1f2937;
    color: white;
    display: flex;
    height: 48px;
    justify-content: center;
    align-items: center;
}
