@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

header {
    background: #1f2937;
    color: white;
    display: flex;
    height: 48px;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.header-logo-text {
    color: #f9faf8;
    font-size: 24px;
}

.subtext {
    color: #e5e7eb;
    font-size: 18px;;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;;
}

.hero {
    display: flex;
    background: #1f2937;
    padding: 50px 100px;
    gap: 20px;
    align-items: center;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9Faf8;
    margin: 10px 0;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 3px 20px;
    border-radius: 5px;
    margin: 10px 0;
}

.hero-right {
    width: 300px;
    height: 200px;
    flex-shrink: 0;
    border: 1px solid #fff;
}

.info {
    background-color: #fff;
    padding: 20px 100px;
}

h2 {
    text-align: center;
    margin: 10px 0;
}

.info-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

.item {
    text-align: center;
    width: 130px;
}

.product-photo {
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    border: 2px solid blue;
    border-radius: 10px;
}

.subtext-dark {
    color: black;
    font-size: 14px;
}

.quote {
    background-color: #e5e7eb;
    padding: 50px 200px;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}

.person {
    font-style: normal;
    font-weight: bolder;
    text-align: end;
    font-size: 28px;
}
footer {
    background: #1f2937;
    color: white;
    display: flex;
    height: 48px;
    justify-content: center;
    align-items: center;
}
